body {
  margin: 0;
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px 0px 150px;
  background-color: #f1a536;
  border-bottom: 4px solid #ffffff;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
}
section.hero {
  height: calc(100vh - 170px);
  background-image: url("../img/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.hero2 {
  height: calc(100vh - 170px);
  background-image: url("../img/burger-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-text {
  background-color: white;
  text-align: center;
  position: relative;
  top: 79%;
  transform: translateY(-50%);
  font-size: 40px;
  width: fit-content;
  max-width: 90%;
  margin: 0 auto;
  font-weight: 800;
  font-size: 50px;
  padding: 5px 30px;
}
h2 {
  font-weight: 800;
  font-size: 50px;
  margin: 50px 120px 20px 120px;
}
p {
  font-size: 20px;
  margin: 0px 120px;
  font-size: 30px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 70px 0;
  gap: 60px;
}
.image-container img {
  width: 515px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 10px;
}
.image-container span {
  text-align: center;
  font-size: 18px;
  margin-top: 0;
}
.image-container .image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 515px;
}
.image-item span {
  margin: 10px;
  font-size: 24px;
  font-weight: 600;
  background-color: white;
}
.recipe-otw {
  background-color: #dadfea;
  padding: 30px 0;
}
.image-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 70px 0;
  gap: 60px;
}
.image-container2 img {
  width: 370px;
  height: 290px;
  object-fit: cover;
  margin-bottom: 10px;
}
.image-container2 span {
  text-align: center;
  font-size: 18px;
  margin-top: 0;
}
.image-container2 .image-item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  background-color: white;
  padding-bottom: 10px;
}
.image-item2 span {
  margin: 10px;
  padding: 0px;
  font-size: 26px;
  font-weight: 600;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px 50px 100px;
  background-color: #f1a536;
}
.image-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 70px 0;
  gap: 60px;
}
.image-container3 img {
  width: 505px;
  height: 340px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 10px solid rgb(209, 204, 204);
}
.image-container3 span {
  text-align: center;
  font-size: 18px;
  margin-top: 0;
}
.image-container3 .image-item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 515px;
}
.image-item3 span {
  margin: 10px;
  font-size: 24px;
  font-weight: 600;
  background-color: white;
}
.time-section {
  height: 200px;
  background-color: #dadfea;
}
h1 {
  margin-top: 0;
  padding: 50px 0 0 120px;
  font-weight: 900;
  font-size: 30px;
}
.flex-container {
  display: flex;
}
.flex-item p {
  font-size: 24px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding-right: 120px;
}
.flex-item2 p {
  font-size: 24px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding-right: 120px;
}
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reviews h1 {
  margin: 100px 0 0 0;
  padding: 0;
  font-size: 50px;
}
.reviews p {
  font-size: 25px;
}
.color {
  color: #a63223;
  font-size: 30px;
  margin-right: 10px;
}
.save-recipe {
  background-color: #a63223;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  width: 160px;
  height: 40px;
  border: none;
}
.recipe-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
.print-recipe {
  border: 1px solid gray;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.print-recipe img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.review-quote {
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  margin: 50px 150px;
  padding: 40px 270px;
  background-color: #eef0f4;
  color: #5e5d5d;
}
.ing-directions {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin: 50px 150px 100px 150px;
  font-size: 20px;
}
.ing-directions h5 {
  margin: 0;
  font-size: 50px;
  font-weight: 800;
}
.spice-mix {
  margin: 0;
  font-size: 30px;
  font-weight: 800;
}
